html {
    -webkit-text-size-adjust: 100%;
}

body {
    color: #000;
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 14px;
    font-weight: 500;
}

body {
    -webkit-font-smooting: antialiased;
}

body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure, h1, h2, h3, h4, h5, h6, form, select{
    margin: 0;
    padding: 0;
}

.Header {
    position: absolute;
    width:100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (max-width: 1080px) {
    .Header {
        background-color: #fff;
        z-index: 10;
    }
}

@media screen and (max-width: 767px) {
    .Header {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 1080px) {
    .Header_Common {
        position: fixed !important;
    }
}

header {
    display: block;
}

*, *:before, *:after {
    word-break: break-all;
    box-sizing: border-box;
}

.Header_Container {
    display: flex;
    justify-content: space-between;
    margin: 0 36px;
    max-width: 100%;
    position:relative;
}

@media screen and (max-width: 767px) {
    .Header_Container {
        max-width: 100%;
        margin: 0 20px;
    }
}

img {
    border:0;
    vertical-align: middle;
}

.Header_Logo_Image_pc {
    display:block;
    height: 20px;
    width: auto;
}

@media screen and (max-width: 767px) {
    .Header_Logo_Image_pc{
     display: block;
    }
}

@media screen and (min-width: 768px) {
    .Header_Logo{
        transition: opacity .2s;
    }  
}

@media screen and (min-width: 768px) {
    .Header_Logo:hover {
        opacity: .8;
    }
}

a {
    color: #000;
    text-decoration: none;
}

a:-webkit-any-link {
    cursor: pointer;
}

.lazyload {
    background-image: none !important;
}

.Header_Logo_Image_sp {
    display: none;
    height: 16px;
    width: auto;
}

@media screen and (max-width: 767px) {
    .HHeader_Logo_Image_sp {
        display: block;
    }
}

.Header_Container>*:last-child {
    display: inline-flex;
}

nav{
    display: block;
}

.Header_Nav_Hamburge r{
    display: none;
}

@media screen and (max-width: 1080px) {
    .Header_Nav_Hamburger {
        cursor: pointer;
        display: block;
        position: relative;
        width: 30px;
        height: 21px;
        z-index: 100;      
    }
}

@media screen and (max-width: 1080px) {
    .Header_Nav_Hamburger-Line{
        position: absolute;
        top: 50%;
        display: block;
        width: 100%;
        height: 3px;
        background-color: #000;
        transform: translate(0,-50%);
        border-radius: 10px;
        transition: top .2s,transform .2s,opacity .3s;
}
}

@media screen and (max-width: 1080px) {
    .Header_Nav_Hamburger-Line:first-child{
        top: 0;
    }
}

@media screen and (max-width: 1080px) {
    .Header_Nav_Hamburger-Line:last-child {
        top: 100%;
    }
}

.Header_Nav_List {
    align-items:center;
    display: flex;
    justify-content:space-between;
}

@media screen and (max-width: 1080px) {
    .Header_Nav_List {
        overflow-y: scroll;
        position: fixed;
        top: 60px;
        left:100%;
        width: 100%;
        display: block;
        padding-top: 20px;
        padding-bottom: 75px;
        transition: transform .5s;
        z-index: 99;
        background-color: rgba(0,0,0,.8);
        height: 100%;
    }
}

@media screen and (max-width: 767px) {
    .Header_Nav_List {
        top: 52px;
    }
}

ul{
    list-style: none;
}

.Header_Nav_List_Items {
    margin-right: 45px;
}

@media screen and (max-width: 1080px) {
    .Header_Nav_List_Items {
        margin-right: 0;
    }
}

@media screen and (min-width: 768px) {
    .Header_Nav_List_Items{
        transition: opacity .2s;
    }
}

@media screen and (min-width:768px) {
    .Header_Nav_List_Items:hover{
        opacity: .8;
    }
}

.Header_Nav_List_Items_Links {
    display: block;
}

@media screen and (max-width: 1080px) {
    .Header_Nav_List_Items_Links{
        padding: 20px 0;
    }
}

.Header_Nav_List_Item:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 1080px) {
    .Header_Nav_List_Items:last-of-type {
        margin-top: 20px;
    }
}

.Header_Nav_List_Items_Links>span:first-child {
    font-family: 'Lato',sans-serif;
}

@media screen and (max-width: 1080px){
    .Header_Nav_List_Items_Links>span:first-child {
        font-size: 16px;
        letter-spacing: 5px;
        color: #fff;
    }
}

.Header_Nav_List_Items_Links>span {
    display: block;
    font-weight: 700;
    text-align: center;
}

.Header_Nav_List_Items_Links>span:last-child {
    font-size: 10px;
}

@media screen and (max-width: 1080px) {
    .Header_Nav_List_Items_Links>span:last-child {
        font-size: 12px;
        margin-top: 10px;
        color: #f79214;
        letter-spacing: 2px;
    }
}

.Header_Nav_List_Items_Link_buttom {
    align-items: center;
    background-color: #f79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 12px;
    height: 40px;
    padding: 0 20px;
}

@media screen and (max-width: 1080px) {
    .Header_Nav_List_Items_Link_buttom{
        font-size: 16px;
        margin: 0 auto;
        height: 60px;
        width: 250px;
    }
}

@media screen and (min-width: 768px) {
    .Header_Nav_List_Items_Link_buttom{
        transition: opacity .2s;
    }
}

@media screen and (min-width: 768px) {
    .Header_Nav_List_Items_Link_buttom:hover {
        opacity: .8;
    }
}

main{
    display: block;
    -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 1080px) {
    main{
        padding-top: 60px
    }
}

@media screen and (max-width: 767px) {
    main{
        padding-top: 52px;
    } 
}

.First_View {
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/styles/../images/home/first-view/top-hero.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 28px;
}

@media screen and (max-width: 767px) {
    .First_View {
        background-image: none;
        padding-top: 0;
        padding-bottom: 35px;
    }
}

section {
    display: block;
}

.First_View_Image {
    width: 100%;
}

.First_View_Image-sp {
    display: none;
}

@media screen and (max-width: 767px) {
    .First_View_Image-sp {
     display: block;
    }
}

.First_View_Container {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

@media screen and (max-width: 767px) {
    .First_View_Container{
        max-width: none;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 767px) {
    .First_View_Container {
        margin-top: -45vw;
    }
}

.First_View_Content {
    margin-bottom: 70px;
    width: fit-content;
}

@media screen and (max-width: 767px) {
    .First_View_Content {
        margin-bottom: 20px;
        width: 100%;
    }
}

.First_View_Content_Title {
    color: #000;
    font-family: 'Lato',sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 15px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .First_View_Content_Title {
        font-size: 25px;
        line-height: 36px;
        margin-left: calc(((100vw - 100%)/2)*-1);
        margin-right: calc(((100vw - 100%)/2)*-1);
    }
}

.First_View_Content_Image {
margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
    .First_View_Content_Image{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        width: 100%;
    }
}

.First_View_Content_Image img {
    margin-right: 8px;
}

@media screen and (max-width: 767px) {
    .First_View_Content_Image img{
        width: 27.5%;
    }
}

.First_View_Content_Image img:nth-of-type(2) {
    width: 40%;
}

.First_View_Content_Image img:last-of-type {
    margin-right: 0;
}

.First_View_Content_Botton {
    display: flex;
}

@media screen and (max-width: 767px) {
    .First_View_Content_Botton {
        flex-direction: column;
    }
}

.First_View_Content_Botton a:first-of-type {
    margin-right: 15px;
    width: 306px;
}

@media screen and (max-width: 767px) {
    .First_View_Content_Botton a:first-of-type {
        margin-right: 0;
    }
}

.First_View_Content_Botton a {
    align-items: center;
    background-color: #f79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .First_View_Content_Botton a {
        transition: opacity .2s;
    }
}

@media screen and (min-width: 768px) {
    .First_View_Content_Botton a:hover {
        opacity: .8;
    }
}

@media screen and (max-width: 767px) {
    .First_View_Content_Botton a {
        font-size: 14px;
        width: 100% !important;
    }
}

.First_View_Content_Botton a:last-of-type {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    color: #000;
    width: 176px;
}

@media screen and (max-width: 767px) {
    .First_View_Content_Botton a:last-of-type {
        display: none;
    } 
}

p {
    color: #000;
    line-height: 1.5;
}

.First_View_Caption {
    color: #a2a2a4;
    font-size: 12px;
}

.First_View_Caption a {
    color: #a2a2a4;
}

.About_Wrapper {
    background-color: #f79214;
    padding: 44px 0;
}

@media screen and (max-width: 767px) {
    .About_Wrapper {
        padding: 30px 0;
    }
}

.About {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .About {
        flex-direction: column;
    }
}

@media screen and (max-width: 767px) {
    .About {
        max-width: none;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.About_Video {
    width: 50%;
}

@media screen and (max-width: 1024px) {
    .AboutVideo {
        margin-bottom: 16px;
        width: 75%;
    }
}

@media screen and (max-width: 767px) {
    .AboutVideo {
        width: 100%;
    }
}

video {
    object-fit: contain;
}

.About_Title {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    width: 100%;
    margin-left: 32px;
}

@media screen and (max-width: 1024px) {
.About_Title {
    margin-left: 0;
    width: 75%;
}
}

@media screen and (max-width: 767px) {
    .About_Title {
        margin-bottom: 0;
        width: 100%;
    }
}

.About_Title h2, .About_Title p {
    color: #fff;
    text-align: left;
}

.About_Title h2 {
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 38px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 54px;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .About_Title h2{
        font-size: 30px !important;
        line-height: 1.2;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .About_Title h2{
        line-height: 1.4;
        white-space: pre;
        word-break: keep-all;
    }
}

.About_Title h2>span {
    font-family: 'Lato',sans-serif;
    font-size: 38px;
    font-weight: 900;
}

@media screen and (max-width: 767px) {
    .About_Title h2>span{
        font-size: 30px;
        letter-spacing: 1px;
    }
}

.About_Title br {
    display: none;
}

@media screen and (max-width: 400px) {
    .About_Title br {
        display: block;
    }
}

.About_Title p {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 16px;
    margin-top: 10px;
}

@media screen and (max-width: 767px) {
    .About_Title p{
        font-size: 16px;
        line-height: 21px;
    }
}

.About_Button {
    color: #fff;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.About_Button>img {
    margin-right: 5px;
}
